---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Contact me" sideBarActiveItemID="contact">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">need to hit me up?</div>
  </div>

<ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>hack club slack: @fonz</li>
    <li>e-mail: afonso@hackclub.com</li>
    <li>message me on signal: whatbeato.08</li>
    <li>call me/good old sms me: +1 518-722-HACK</li>
    <li>message me on session: <code>05500272fa79f22f1327f6735c7979450f8d924f016bb10a20e0b65c5e55b0e948</code></li>
    <li>or, for questions related to clubs, email clubs[@]hackclub.com or call 855-625-HACK and press 3</li>
</ul>

</BaseLayout>