---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Olá!👋</div>
    <div class="text-5xl font-bold">I'm Afonso Beato</div>
    <div class="text-3xl py-3 font-bold">Student and CS enthusiast</div>
    <div class="py-2">
      <text class="text-lg">
        I'm a Student @ Colégio Atlântico that loves computer science and cybersecurity. I've been present at Web Summit 2023.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto: afonso.beato@whatbeato.uk" target="_blank"> Let's connect!</a>
      <a href="https://instagram.com/whatbeatoo" target="_blank" class="btn btn-outline ml-5">
        Photography Page
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My recent classes/workshops {"</>"}</div>
  </div>

  <HorizontalCard
    title="Workshop for students of IPS (Institudo Politécnico de Setúbal)"
    img="/ips.webp"
    desc="Me and a few friends are going to be dynamising a workshop for students and teachers of the Institudo Politécnico de Setúbal."
    url="#"
    badge="SOON"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Erasmus+ Class for Teachers"
    img="/post_img.webp"
    desc="To explain Robotics and Coding to teachers that came to Colégio Atlântico from abroad, me and a few friends dynamised a class for 4 teachers of a school in Sweden."
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
