---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">hi!</div>
    <div class="text-5xl font-bold">i'm fonz beato</div>
    <div class="text-3xl py-3 font-bold">club operations @ hack club, student @ colégio atlântico</div>
    <div class="py-2">
      <text class="text-lg">
       i'm a part of the club operations and community relations team @ hack club, a 501(c)(3) non-profit that helps teens learn coding and i'm currently studying @ colégio atlântico, where I also run a coding club.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://hackclub.com" target="_blank">learn more about hack club</a>
      <a href="https://instagram.com/whatbeatoo" target="_blank" class="btn btn-outline ml-5">my photography/videography work</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">my work {"</>"}</div>
  </div>

  <HorizontalCard
    title="club operations @ hack club"
    img="/hackclub.png"
    desc="my current involvement with hack club is being part of their clubs team. i help out with onboarding clubs and developing things that help clubs."
    url="https://hackclub.com"
    badge="HACK CLUB"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="daydream lisbon"
    img="/hackclub.png"
    desc="we're going to be hosting this september the biggest game jam in lisbon, to teens, by teens."
    url="https://daydream.hackclub.com"
    badge="HACK CLUB"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-2">my previous work {"</>"}</div>
  </div>

  <HorizontalCard
    title="scrapyard lisbon"
    img="/sylis.png"
    desc="we hosted a hackathon for 20 students where they built stupid stuff, to get stupid stuff."
    url="https://scrapyard.hackclub.com"
    badge="HACK CLUB"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="workshop for students of IPS (institudo politécnico de setúbal)"
    img="/ips.png"
    desc="me and a few friends developed a workshop about micropython and how to use it to students from IPS."
    url="#"
    badge="COLÉGIO ATLÂNTICO"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="erasmus+ class for teachers & students"
    img="/post_img.webp"
    desc="i frequently do a 3d design and printing workshop at my school, colégio atlântico, for teachers and students from abroad, who come to portugal via the erasmus+ program."
    url="#"
    badge="COLÉGIO ATLÂNTICO"
  />  

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
