<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a href="https://github.com/whatbeato" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
        </svg>
    </a>
    <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a>
    <a href="https://ivie.codes/" target="_blank" class="mx-3" aria-label="something..." title="something...">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M15 6.122c-.8.205-1.461.664-2 1.324-.36.441-.667.973-.922 1.58-.467 1.107-.767 2.463-.93 3.974-.068.641-.112 1.31-.133 2H15V6.122zM17 15h3.985a26.403 26.403 0 0 0-.134-2c-.162-1.51-.462-2.867-.929-3.974A6.447 6.447 0 0 0 19 7.446c-.539-.66-1.2-1.119-2-1.324V15zm5.541-3.607c.11.518.202 1.055.273 1.607.083.647.139 1.315.166 2h2.97a9.953 9.953 0 0 0-1.54-4.412 10.053 10.053 0 0 0-3.325-3.2c.643 1.127 1.133 2.487 1.456 4.005zm.01-5.449a12.012 12.012 0 0 1 5.202 7.621c.162.787.247 1.6.247 2.435 0 .834-.085 1.648-.247 2.435a12.012 12.012 0 0 1-9.318 9.318 12 12 0 0 1-3.435.206 11.932 11.932 0 0 1-5.55-1.903 12.012 12.012 0 0 1-5.203-7.621C4.085 17.648 4 16.835 4 16c0-.834.085-1.649.247-2.435a12.012 12.012 0 0 1 9.318-9.318A11.99 11.99 0 0 1 16 4a12.156 12.156 0 0 1 2.435.247c1.492.308 2.882.892 4.116 1.697zm-12.032 1.69a10.053 10.053 0 0 0-2.93 2.954A9.953 9.953 0 0 0 6.05 15h2.97c.028-.685.084-1.353.167-2a19.91 19.91 0 0 1 .273-1.607c.323-1.518.813-2.878 1.455-4.005a10 10 0 0 0-.395.246zM6.049 17a9.951 9.951 0 0 0 1.54 4.412 10.053 10.053 0 0 0 3.325 3.2c-.642-1.127-1.132-2.487-1.455-4.005A19.914 19.914 0 0 1 9.186 19a22.895 22.895 0 0 1-.166-2H6.05zm4.966 0c.021.69.065 1.359.134 2 .162 1.51.462 2.867.929 3.974.255.607.561 1.139.922 1.58.539.66 1.2 1.119 2 1.324V17h-3.985zM17 17v8.878c.8-.205 1.461-.664 2-1.324.36-.441.667-.973.922-1.58.467-1.107.767-2.463.93-3.974.068-.641.112-1.31.133-2H17zm5.98 0a22.914 22.914 0 0 1-.166 2 19.905 19.905 0 0 1-.273 1.607c-.323 1.518-.813 2.878-1.455 4.005a10.053 10.053 0 0 0 3.325-3.2A9.954 9.954 0 0 0 25.95 17h-2.97z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a>
</div>
